{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock title%}


{% block content%}
<hi> Welcome to Hoodie Haven!</hi>

<p>Cozy Up to the Ultimate Comfort Wear</p>

    <p>Hey there, hoodie enthusiasts! Welcome to Hoodie Haven, your go-to destination for all things comfy, stylish, and hood-tastic. Whether you're a casual wearer or a die-hard hoodie collector, you've found your tribe.
    What's New on the Blog:
    
    "The Hoodie Evolution: From Workwear to Wardrobe Staple"
    Dive into the fascinating history of hoodies and how they became a fashion icon.
    "Top 10 Hoodies for Every Season"
    Our curated list of must-have hoodies to keep you stylish year-round.
    "Hoodie Hacks: Styling Tips for Maximum Comfort and Cool"
    Learn how to elevate your hoodie game with these easy fashion tricks.
    "Sustainable Snuggles: Eco-Friendly Hoodies You'll Love"
    Discover brands that are kind to both you and the planet.
    "Celebrity Hoodie Spotting: Who's Wearing What?"
    Get inspired by your favorite stars' hoodie choices.
    
    Join our community of hoodie lovers! Subscribe for weekly updates, style tips, and exclusive deals on the coziest gear around. Remember, life's too short for uncomfortable clothes – stay snug, stay stylish!
    Happy Hooding!
    The Hoodie Haven Team</p>


{% endblock content%}