{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock title%}


{% block content%}
<h1> Welcome to Hoodie Haven!</h1>

<p>Cozy Up to the Ultimate Comfort Wear</p>

<p>Hey there, hoodie enthusiasts! Welcome to Hoodie Haven, your go-to destination for all things comfy, stylish, and hood-tastic. Whether you're a casual wearer or a die-hard hoodie collector, you've found your tribe.</p>
    
    
<p>Join our community of hoodie lovers! Subscribe for weekly updates, style tips, and exclusive deals on the coziest gear around. Remember, life's too short for uncomfortable clothes – stay snug, stay stylish!</p>

<p>Happy Hooding!</p>
<p>-- The Hoodie Haven Team --</p>


{% endblock content%}