/* Base Colors */
:root {
    --primary-color: #ff6b6b; /* Warm red */
    --secondary-color: #FFA500; /* Orange */
    --tertiary-color: #FFD700; /* Yellow */
    --text-color: #333333; /* Darker gray for text */
    --bg-color: #f1d8d8; /* Lighter gray for background */
}


body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    text-align: center;
}


  /* Navigation Bar Styles */
.navbar {
    background-color: var(--primary-color) !important;
}


  /* Content Styles */
.container {
    margin-top: 2rem;
}

